footer {
  background-color: var(--nav-bg);
  color: white;
  text-align: center;
  padding: 2rem 0;
  margin-top: 4rem;

  a {
    color: $accent-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}